<div class="container-fluid">
  <h3 style="text-align: center;">
    Photos App
  </h3>
  <h5 style="text-align: center;">
    Photos Management System
  </h5>
    <img src="../../../assets/images/contact-1.jpg" alt="img" 
    style=" display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;">
    <br>
<div class="row">
    <div class="column">
      <div class="card">
        <p><i class="fa fa-user"></i></p>
        <h3>Email</h3>
        <p>Photosmanager@gmail.com</p>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <p><i class="fa fa-check"></i></p>
        <h3>Mobile No</h3>
        <p>+91 - 9456009010</p>
      </div>
    </div>
    
    <div class="column">
      <div class="card">
        <p><i class="fa fa-smile-o"></i></p>
        <h3>Address</h3>
        <p>Electronic City, Bangalore - 560100</p>
      </div>
    </div>
    
    <div class="column">
      <div class="card">
        <p><i class="fa fa-coffee"></i></p>
        <h3>Facebook</h3>
        <p>EMP Managers</p>
      </div>
    </div>
  </div>
</div>